<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
		<add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
		<add key="ProductionEnviroment" value="true"/>
		<add key="ErrorLogFolder" value="D:\Floricola\SGF\Log\"/>
		<add key="AppID" value="1"/>
		<!--PARAMETROS DEL CORREO-->
		<add key="DisplayName" value="GADMUR - SEGUIMIENTO POA"/>
		<add key="MailFrom" value="info.gadmur@ruminahui.gob.ec"/>
		<add key="ToMail" value="fabian.lovato@ruminahui.gob.ec"/>
		<add key="CopyMail" value="fabian.lovato@ruminahui.gob.ec"/>
		<add key="SMTPHost" value="correo.ruminahui.gob.ec"/>
		<add key="SMTPPort" value="25"/>
		<add key="SMTPUser" value="info.gadmur@ruminahui.gob.ec"/>
		<add key="SMTPPass" value="info-2014"/>
		<add key="EnableSSL" value="true"/>

		<!--PARAMETROS DEL LOG-->
		<add key="Auditar" value="true"/>
	</appSettings>
	<connectionStrings>
		<!--PRODUCCION-->
		<!--<add name="GADMUR_LUFEntities" connectionString="metadata=res://*/LUF_Model.csdl|res://*/LUF_Model.ssdl|res://*/LUF_Model.msl;provider=System.Data.SqlClient;provider connection string='data source=192.168.1.222;initial catalog=LUF;persist security info=True;user id=luf;password=gadmur_luf$;multipleactiveresultsets=True;App=EntityFramework'" providerName="System.Data.EntityClient" />-->
		<!--DESARROLLO-->
		<add name="DataModel" connectionString="metadata=res://*/DataModel.csdl|res://*/DataModel.ssdl|res://*/DataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=45.236.105.34,11561\mssqlserver;initial catalog=SGF;persist security info=True;user id=sa;password=sa.2024;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
		<!--<add name="DataModel" connectionString="metadata=res://*/DataModel.csdl|res://*/DataModel.ssdl|res://*/DataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.1.129;initial catalog=SGF;persist security info=True;user id=sa;password=sa.2024;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
		<!--<add name="DataModel" connectionString="metadata=res://*/DataModel.csdl|res://*/DataModel.ssdl|res://*/DataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=SGF;persist security info=True;user id=sa;password=sa2024;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->

	</connectionStrings>
	<system.web>
		<compilation debug="true" targetFramework="4.7.2" />
		<globalization uiCulture="es" culture="es-EC" />
	</system.web>
	<system.serviceModel>
		<bindings>
			<basicHttpBinding>
				<binding name="LargeBuffer" closeTimeout="00:10:00" openTimeout="00:10:00" receiveTimeout="00:20:00" sendTimeout="00:20:00" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647" messageEncoding="Text" textEncoding="utf-8" useDefaultWebProxy="true" maxBufferSize="2147483647" transferMode="Buffered" allowCookies="false">
					<readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
					<security mode="None" />
				</binding>
			</basicHttpBinding>
		</bindings>
		<behaviors>
			<serviceBehaviors>
				<behavior name="Service_Publisher.ServicesBehavior">
					<serviceMetadata httpGetEnabled="true" />
					<serviceDebug includeExceptionDetailInFaults="true" />
					<dataContractSerializer maxItemsInObjectGraph="2147483647" />
				</behavior>
			</serviceBehaviors>
			<endpointBehaviors>
				<behavior name="FaultBehavior">
				</behavior>
				<behavior name="WebBehavior">
					<webHttp />
				</behavior>
			</endpointBehaviors>
		</behaviors>
		<services>
			<service name="SGF.BussinessLogic.Logic" behaviorConfiguration="Service_Publisher.ServicesBehavior">
				<endpoint address="" bindingConfiguration="LargeBuffer" binding="basicHttpBinding" contract="SGF.BussinessLogic.Logic" behaviorConfiguration="FaultBehavior"></endpoint>
			</service>
		</services>
		<serviceHostingEnvironment multipleSiteBindingsEnabled="true" />
	</system.serviceModel>
	<system.webServer>
		<modules runAllManagedModulesForAllRequests="true"/>

		<directoryBrowse enabled="true"/>
	</system.webServer>

</configuration>
